# ROS 2 Build Folders
build/
install/
log/

# Python Caching
__pycache__/
*.py[cod]

# Editors
.vscode/
.idea/
.project
.cproject
*~

# Compiled Object files
*.d
*.o
*.obj

# Others
*.gv
COLCON_IGNORE
